body {
  margin: auto;
  width: 100%;
  height: 100%;
  font-family: 'Monserrat', sans-serif;
  background-image: url("polaroid.png");
  color: #0B3861;
}

.all {
  width: 85%;
  margin: auto;
  padding: 10px;
  border-radius: 1%;
  border: 3px solid #04B4AE;
}
/*above*/
.infobox {
  width: 60%;
  margin: auto;
  padding-left: 2%
  padding-right: 2%
}

.photo {
  margin-left: 10%;
  width: 20%;
  float: left;
}

.info-right {
  height: 40%;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 125%;
  padding-top: 0.25%;
}

.media {
  border-radius: 1%;
  border: 3px solid #0489B1;
}

.icon {
  text-align: center;
  padding-left: 17%;
  justify-content: center;
  font-size: 200%;
  margin-top: 10%;
}

.fa {
  color: #0489B1;
}

.fa:hover {
  color: #00BFFF;
}

/*below*/
.experience {
  float: left;
  text-align: left;
  width: 60%;
  font-size: 100%;
  margin-right: 5%;
}

.title {
  font-weight: bold;
  font-size: 150%;
  margin-top: 20px;
}
.space {
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

.size {
  font-size: 110%;
  font-weight: bold;
}

table, .padding {
  padding-left: 15px;
}

.Language, .IT {
  margin-left: 20px;
}
