body {
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(10; 1fr);
  grid-template-rows: repeat(25; 1fr);
  grid-gap: 5px;
}

.info-left {
  grid-column: span 5;
  grid-row: span 1;
}

.foto {
  grid-column: span 5;
  grid-row: span 1;
}

.section1, .section2, .section3 {
  grid-column: span 10;
  grid-row: span 1;
  font-size: 25px;
}

.left-sec1 {
  grid-column: span 1;
  grid-row: span 1;
}

.right-sec1 {
  grid-column: 2/span 8;
  grid-row: span 1;
}

.element1 {
  
}
